Package: libfolding-dbgsym
Package-Type: ddeb
Source: libfolding
Version: 1.1
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: asr <alban.siffer@irisa.fr>
Installed-Size: 108
Depends: libfolding (= 1.1)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libfolding
Build-Ids: 58df3e2bf9f4e36c591fa0ba96664d15f0a206cd
