Package: libfolding-dev
Source: libfolding
Version: 1.1
Architecture: amd64
Maintainer: asr <alban.siffer@irisa.fr>
Installed-Size: 9
Depends: libfolding (= 1.1), libtbb-dev, libarmadillo-dev
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/asiffer/libfolding
Description: C++ library to compute the folding test of unimodality over streaming data - dev files
