Package: libfolding-dev
Source: libfolding
Version: 1.0-1
Architecture: amd64
Maintainer: asr <alban.siffer@irisa.fr>
Installed-Size: 310
Depends: libfolding (= 1.0-1)
Section: libdevel
Priority: optional
Multi-Arch: same
Homepage: https://github.com/asiffer/libfolding
Description: C++ library to compute the folding test of unimodality over streaming data - dev files
