$color-kde-AlternateGrey: #bdc3c7; // BackgroundAlternate
$color-kde-CardboardGrey: #eff0f1; // BackgroundNormal
$color-kde-PlasmaBlue: #3daee9; // DecorationFocus
$color-kde-HoverBlue: #93cee9; // DecorationHover
$color-kde-CoastalFog: #7f8c8d; // ForegroundInactive
$color-kde-AbyssBlue: #2980b9; // ForegroundLink
$color-kde-IconRed: #da4453; // ForegroundNegative
$color-kde-BewareOrange: #f67400; // ForegroundNeutral
$color-kde-Normal: #232627; // ForegroundNormal
$color-kde-NobleFir: #27ae60; // ForegroundPositive
$color-kde-IconBlue: #1d99f3; // BackgroundAlternate
$color-kde-PaperWhite: #fcfcfc; // ForegroundActive
$color-kde-BurntCharcoal: #3b4045; // BackgroundAlternate
$color-kde-CharcoalGrey: #31363b; // BackgroundNormal
$color-kde-DecoBlue: #1e92ff; // DecorationFocus
$color-kde-HyperBlue: #3daee6; // DecorationHover
$color-kde-LazyGrey: #afb0b3; // ForegroundInactive
$color-kde-Pimpinella: #e74c3c; // ForegroundNegative
$color-kde-IconGreen: #2ecc71; // ForegroundPositive

$palette3796-blue: #5498a9;
$palette3796-brown: #645045;
$palette3796-grey: #665f62;
$palette3796-lightgrey: #d9d8da;
$palette3796-red: #f03829;

$palette1349-blue: #658da7;
$palette1349-lightblue: #c1d5db;
$palette1349-ivory: #fceee3;
$palette1349-red: #ca0404;
$palette1349-amarant: #8f0304;

$palette2680-beige: #c2ab82;
$palette2680-red: #d63d41;
$palette2680-purple: #67013a;
$palette2680-blue: #01004e;
$palette2680-deepblue: #000032;

$color-white: #FFFFFF;
$color-sky: #CAEBF2;
//$color-carbon: #A9A9A9;
$color-carbon: #06000A;
$color-watermelon: #FF3B3F;
$color-neutral: #EFEFEF;
$color-matte: #282828;
$color-teal: #056571;
$color-fresh: #CCDFCB;
$color-feather: #77C9D4;
$color-marine: #57BC90;
$color-forest: #015249;
$color-sleek-grey: #A5A5AF;

// minimal yet warm (https://blog.visme.co/website-color-schemes/)
$color-myw-1: #EAE7DC;
$color-myw-2: #D8C3A5;
$color-myw-2-darker: #ad9d85;
$color-myw-3: #8E8D8A;
$color-myw-4: #E98074;
$color-myw-5: #E85A4F;

$color-bg: $color-myw-1;
$color-fg: $color-matte;
$color-light: $color-myw-2;
$color-dark: $color-myw-2-darker;
$color-focus: $color-myw-5;
$color-focus-light: $color-myw-5;

$icon-size: calc(100vh/6);