Package: libfolding
Version: 1.1
Architecture: amd64
Maintainer: asr <alban.siffer@irisa.fr>
Installed-Size: 9
Depends: libtbb2, libarmadillo8
Section: libs
Priority: optional
Multi-Arch: same
Homepage: https://github.com/asiffer/libfolding
Description: C++ library to compute the folding test of unimodality over streaming data - exec files
