Source: libfolding
Priority: optional
Maintainer: asr <alban.siffer@irisa.fr>
Build-Depends: debhelper (>= 10), libarmadillo-dev
Standards-Version: 4.1.2
Section: libs
Homepage: https://github.com/asiffer/libfolding


Package: libfolding-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libfolding (= ${binary:Version}), libarmadillo-dev, ${misc:Depends}
Description: C++ library to compute the folding test of unimodality over streaming data - dev files


Package: libfolding
Architecture: any
Multi-Arch: same
Depends: libarmadillo9, ${shlibs:Depends}, ${misc:Depends}
Description: C++ library to compute the folding test of unimodality over streaming data - exec files
